.board {
  overflow: hidden;
  padding: 20px; // временное решение
  flex-grow: 1;

  @media screen and (max-width: 1599px) {
    width: 80%;
  }

  // todo нужно оптимизировать под разные разрешения
  //@media screen and (min-width: 4001px) {
  //  width: 87%;
  //}
  //
  //@media screen and (min-width: 2501px) and (max-width: 4000px) {
  //  width: 88.5%;
  //}
  //
  //@media screen and (min-width: 1600px) and (max-width: 2500px) {
  //  width: 88%;
  //}


}