@import "src/scss/abstracts/_variables.scss";

.sidebar {
  width: $sidebar-width;
  transition: 0.15s;
  height: $view-height;
  border-right: 1px #DCDCDC solid;
}

.sidebar__collapsed {
  width: $sidebar-collapsed-width;
}